.container{
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    display: grid;
}

.view1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}
.view2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.view3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.view4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


body{
    background-color: #222;
}
/* Legend Position Style */
.legend {
	position:absolute;
	left:20px;
	top:30px;
}

.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}
.view3 svg{
    margin-left: 80px;
    margin-top: 60px;
}

 /* Dropdown Button */
.dropbtn {
    background-color: forestgreen;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 50px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: darkgreen;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}
.dropdownContent a:hover {
    background-color: darkgreen;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

 .myTooltip {
    position: absolute;
    border-radius: 5px;
    overflow-x: visible;
    overflow-y: visible;
    background-color: lightgrey;
    margin-left: 13px;
}
